
*.zip
Notebooks/.ipynb_checkpoints/ACreditCardApprovals-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesFinalProj-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/ACreditCardApprovals-checkpoint.ipynb
Data/.ipynb_checkpoints/credit_record-checkpoint.csv
Data/.ipynb_checkpoints/merged4Analysis30-checkpoint.csv
Notebooks/.ipynb_checkpoints/ACreditCardApprovals-checkpoint.ipynb
Data/.ipynb_checkpoints/cleanMerge1-checkpoint.csv
Data/.ipynb_checkpoints/merged4AnalysisSTRICT-checkpoint.csv
Notebooks/.ipynb_checkpoints/ACreditCardApprovals-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesFinalProj-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesWk3Explore-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/ACreditCardApprovals-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesFinalProj-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Sampling-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk2wrangle-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk4Analyze-checkpoint.ipynb
Data/.ipynb_checkpoints/cleanMerge1-checkpoint.csv
Notebooks/.ipynb_checkpoints/Wk2wrangle-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesFinalProj-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk2wrangle-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
Data/.ipynb_checkpoints/cleanMerge1-checkpoint.csv
Notebooks/.ipynb_checkpoints/ACreditCardApprovals-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesFinalProj-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk2wrangle-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/ACreditCardApprovals-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesFinalProj-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk2wrangle-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/ACreditCardApprovals-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesFinalProj-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk2wrangle-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
Data/.ipynb_checkpoints/cleanMerge1-checkpoint.csv
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
Data/.ipynb_checkpoints/balancedMF-checkpoint.csv
Data/.ipynb_checkpoints/cleanMerge1-checkpoint.csv
Notebooks/.ipynb_checkpoints/ExplorationBalancedData-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/RanalysesWk4Analysis-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk4AnDecisionTrees-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/Wk4AnML-checkpoint.ipynb
Data/.ipynb_checkpoints/cleanMerge1-checkpoint.csv
Notebooks/.ipynb_checkpoints/Wk3Explore-checkpoint.ipynb
